{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Veterinaria Sevilla</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "dist/css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static "css/dashboard.css" %}" rel="stylesheet">
    <link href="{% static "dist/css/jquery.dataTables.min.css" %}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    {% include navbar %}
    
    <div id="contenido_principal" class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/caja">Caja</a></li>
            <li class="active"><a href="/clientes">Clientes<span class="sr-only">(current)</span></a></li>
            <li><a href="#">Mascotas</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Atención Clínica</a></li>
            <li><a href="">Hospital</a></li>
            <li><a href="">Peluquería</a></li>
            <li><a href="">Hotel</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Inventario</a></li>
            <li><a href="">Calendario</a></li>
            <li><a href="">Horario</a></li>
            <li><a href="">Finanzas</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div style="display: inline-flex;">
            <img src="{% static "dist/fonts/newuser.png"%}" class="img-responsive center-block" style="height:80px;">
            <h1 class="page-header" style="display: inline-table;">Ingresar Nuevo Cliente</h1>
          </div>
          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3">
              <h4>Datos</h4>
            </div>
          </div>
          <h2 class="sub-header">
            &nbsp; Mascotas
          </h2>
        </div>
      </div>
    </div>
  </body>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "dist/js/jquery-1.11.3.min.js" %}"></script>
    <script src="{% static "dist/js/bootstrap.min.js" %}"></script>
</html>
